{% extends 'base.html' %}

{% block content %}
<div class="card border-warning mb-3 mx-auto" style="max-width: 500px;">
  <div class="card-header bg-warning text-dark">Confirmar Borrado de Ingrediente</div>
  <div class="card-body">
    <h5 class="card-title">Seguro que queres borrar "{{ ingrediente.nome }}"?</h5>
    <p class="card-text">Se está a ser usado nalgún prato as liñas asociadas serán borradas tamén.</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning">Borrar Totalmente</button>
        <a href="{% url 'ingrediente_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}
